# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.idea/
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Data
legacy/data/
legacy/data/raw/
legacy/data/processed/
*.sqlite
*.db

artifacts/

# Helper
.DS_Store

# Directory temp files
system.log
